-var suptitulos = ["Noticias","Titulo del Blogpost"]
-var suptitulosBlogspos = ["Contacto", "Escribeme"]
-var contenidos = ["Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, facilis?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, ullam?"]
