
header
	section.header-icons-container 
		.icons
			a(href="#" ): span(class="flaticon-001-facebook")
			a(href="#" ): span(class="flaticon-002-twitter")
			a(href="#" ): span(class="flaticon-011-instagram")
			a(href="#" ): span(class="flaticon-008-youtube")
			a(href="#" ): span(class="flaticon-010-linkedin")
	nav
		section.nav-logo-container
			a(href="/"): img(src="/imagenes/Logo-negro.png" alt="Logo de mi blog")
		section.profile-link: a(href="../componentes/blog.html") Sobre mi
