extend componentes/plantilla.pug
block contenidos 	
		main 
			.home-main
				section.main__section 
					p.home-main-text 
						|Conoce las novedades y noticias del mundo tech
					button.home-main-buttom: a(href="") Entrar 
					a(href="") leer mas